In [1]:
import pandas as pd

In [2]:
d = {'AÑO': [2001, 2003, 2003, 2001],
     'SEXO': ['MASCULINO', 'FEMENINO', 'FEMENINO', 'FEMENINO'],
     'GENERO MUSICAL': ['BACHATA, SALSA', 'POP, SALSA', 'POP', 'POP, COUNTRY']}

In [3]:
genero_data = pd.DataFrame(d)
genero_data

    AÑO  GENERO MUSICAL       SEXO
0  2001  BACHATA, SALSA  MASCULINO
1  2003      POP, SALSA   FEMENINO
2  2003             POP   FEMENINO
3  2001    POP, COUNTRY   FEMENINO

In [4]:
musica = genero_data['GENERO MUSICAL'].str.split(',').apply(pd.Series, 1).stack()
musica.index = musica.index.droplevel(-1)
musica.name='GENERO'
pd.value_counts(musica)

POP         3
 SALSA      2
BACHATA     1
 COUNTRY    1
Name: GENERO, dtype: int64

In [5]:
del genero_data['GENERO MUSICAL']
genero_data = genero_data.join(musica)
genero_data

    AÑO       SEXO    GENERO
0  2001  MASCULINO   BACHATA
0  2001  MASCULINO     SALSA
1  2003   FEMENINO       POP
1  2003   FEMENINO     SALSA
2  2003   FEMENINO       POP
3  2001   FEMENINO       POP
3  2001   FEMENINO   COUNTRY

In [6]:
pd.value_counts(genero_data['GENERO'])

POP         3
 SALSA      2
BACHATA     1
 COUNTRY    1
Name: GENERO, dtype: int64